@page
@model MegaDesk.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Add Quote";
}

@functions{
    public string GetDate()
    {
        DateTime today = DateTime.Today;
        return today.ToString("yyyy-MM-dd");
    }
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

</head>
<body>

    <h4>Add New Quote</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Quote.DateAdded" class="control-label"></label>
                    <input asp-for="Quote.DateAdded" id="date" type="date" value="@GetDate()" class="form-control" />

                    <span asp-validation-for="Quote.DateAdded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote.Name" class="control-label"></label>
                    <input asp-for="Quote.Name" id="name" class="form-control" />
                    <span asp-validation-for="Quote.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote.DeskWidth" class="control-label"></label>
                    <input asp-for="Quote.DeskWidth" id="width" class="form-control" />
                    <span asp-validation-for="Quote.DeskWidth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote.DeskDepth" class="control-label"></label>
                    <input asp-for="Quote.DeskDepth" id="depth" class="form-control" />
                    <span asp-validation-for="Quote.DeskDepth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quote.DrawerCount" class="control-label"></label>
                    <input asp-for="Quote.DrawerCount" id="drawer" class="form-control" />
                    <span asp-validation-for="Quote.DrawerCount" class="text-danger"></span>
                </div>
                <!--<div class="form-group">
        <label asp-for="Quote.DeskSurfaceMaterial" class="control-label"></label>
        <select asp-for="Quote.DeskSurfaceMaterial" id="material" class="form-control">
            <option value="laminate" data-image="~/images/laminate50.jpg">Laminate</option>
            <option value="oak" data-image="~/images/laminate50.jpg">Oak</option>
            <option value="rosewood" data-image="~/images/laminate50.jpg">Rosewood</option>
            <option value="veneer" data-image="~/images/laminate50.jpg">Veneer</option>
            <option value="pine" data-image="~/images/laminate50.jpg">Pine</option>
        </select>
        <span asp-validation-for="Quote.DeskSurfaceMaterial" class="text-danger"></span>
    </div>-->

                <div class="form=group radioSelect">
                    <label asp-for="Quote.DeskSurfaceMaterial" class="control-label"></label><br />
                    @Html.RadioButtonFor(m => m.Quote.DeskSurfaceMaterial, MegaDesk.Models.SurfaceMaterial.laminate)@Html.Label("Laminate")
                    @Html.RadioButtonFor(m => m.Quote.DeskSurfaceMaterial, MegaDesk.Models.SurfaceMaterial.oak)@Html.Label("Oak")
                    @Html.RadioButtonFor(m => m.Quote.DeskSurfaceMaterial, MegaDesk.Models.SurfaceMaterial.rosewood)@Html.Label("Rosewood")
                    @Html.RadioButtonFor(m => m.Quote.DeskSurfaceMaterial, MegaDesk.Models.SurfaceMaterial.veneer)@Html.Label("Veneer")
                    @Html.RadioButtonFor(m => m.Quote.DeskSurfaceMaterial, MegaDesk.Models.SurfaceMaterial.pine)@Html.Label("Pine")

                    <span asp-validation-for="Quote.DeskSurfaceMaterial" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Quote.OrderTime" class="control-label"></label>
                    <select asp-for="Quote.OrderTime" id="time" class="form-control">
                        <option value="14">Normal - 14 days</option>
                        <option value="7">Fast - 7 days</option>
                        <option value="5">Faster - 5 days</option>
                        <option value="3">Fastest - 3 days</option>
                    </select>
                    <span asp-validation-for="Quote.OrderTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Calculate Quote" class="btn btn-secondary" onclick="calculateQuote()" />
                </div>
                <div class="form-group">
                    <label asp-for="Quote.DeskQuote" class="control-label"></label>
                    $<input asp-for="Quote.DeskQuote" id="quoteVal" value="0.00" readonly />
                    <span asp-validation-for="Quote.DeskQuote" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <input type="submit" value="Add" id="submit-btn" class="btn btn-primary" disabled />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>


    <script src="../../wwwroot/js/site.js"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>
