@page
@model MegaDesk.Pages.Quotes.IndexModel
@{
    ViewData["Title"] = "Desk Quotes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>MegaDesk Quotes</h1>
    <p>
        <a class="button" asp-page="Create">Add New Quote</a>
    </p>

    <form>
        <p>
            Name: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a class="tableSort" asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                        @Html.DisplayNameFor(model => model.Quote[0].DateAdded)
                    </a>
                </th>
                <th>
                    <a class="tableSort" asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                        @Html.DisplayNameFor(model => model.Quote[0].Name)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quote[0].DeskWidth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quote[0].DeskDepth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quote[0].DrawerCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quote[0].DeskSurfaceMaterial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quote[0].OrderTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quote[0].DeskQuote)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Quote)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeskWidth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeskDepth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrawerCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeskSurfaceMaterial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeskQuote)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
